:root{
   --fundo-menu:rgb(211, 193, 149);
   --fundo-menu-active:rgb(64, 48, 8);
   --cor-letra-menu: rgb(81, 83, 70);
   --cor-letra-menu-active: rgb(225, 255, 0);
}
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

.painel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--fundo-menu);
  }
  
 .painel li {
    float: left;
  }
  .titulo_site{
      font-family: 'Lobster', cursive;
      font-size: 40px;
  }
  .painel li:last-child {
    border-right: none;
  }
  
  .painel li a {
    display: block;
    color: var(--cor-letra-menu);
    text-align: center;
    padding: 4px 20px;
    text-decoration: none;
  }
  
  .painel li a:hover:not(.active) {
    background-color: var(--fundo-menu-active);
    color: var(--cor-letra-menu-active);
  }
  
  .active {
    background-color: var(--fundo-menu-active);
    color: var(--cor-letra-menu-active);
  }

  .painel {
      height: 22px;
      background-color: #bbb;
  }
  .conteudo {
    height: 700px;
  }
  .rodape {
    height: 30px;
    background-color: white;
    text-align: center;
  }
  
  .inicio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
